<div>
	<nav class="navbar bg-faded top-bar">
		<div class="container">
			<span class="navbar-brand top-bar-title">
				KX-MODALS
			</span>
			<ul class="nav navbar-nav menu">
				<li class="nav-item">
					<a class="nav-link">
						Angular modals done <em>right</em>.
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="top-offset-1">
			<h4>
				Configuration
			</h4>
			<p>
				Configuration for the <code>kx-modals</code> library to work is really simple, you just include the <code>KxModalModule</code>				into your root module (usually <code>app.module.ts</code>) and add it to the imports list, as such:
			</p>

			<h6>
				<code>app.module.ts</code> inclusion example
			</h6>
			<pre><code>import {{ '{ '}} KxModalModule {{ '}' }} from 'kx-modals';

@NgModule({{ '{' }})
	imports: [
		KxModalModule.forRoot({{ '{' }}
			// configuration
		{{ '}' }}),
		...
	],
	...
{{ '}' }})
export class AppModule {{ '{ }' }}</code></pre>

			<p>
				After having done this, make sure you've included the <code>&lt;kx-modal-container&gt;</code> <i>somewhere</i> in your
				application, though preferably somewhere in your root component. After that is done, you can use the <code>KxModalService</code>				anywhere in your application to create a modal component. The only thing your component has to comply to, is that it
				is derived from the <code>KxModalBaseComponent</code> class.
				<br/><br/> For an example of how to use this, just look at one of the modal examples below.
			</p>
		</div>

		<div class="top-offset-1">
			<h4>
				Confirmation modals
			</h4>
			<p>
				Modals that would normally require you to confirm an action, such as deleting an item.
			</p>

			<button class="btn btn-default button hollow secondary" (click)="onConfirm()">
				CONFIRM
			</button>

			<button class="btn btn-default button hollow secondary" (click)="onDramaticConfirm()">
				DRAMATIC CONFIRM
			</button>
		</div>

		<div class="top-offset-1">
			<h5>
				Code
			</h5>
			<div class="row">
				<div class="col-12 col-lg-6 small-12 large-6 columns">
					<h6>
						<code>confirm-modal.component.ts</code>
					</h6>
					<pre><code>{{ CODE_CONFIRM_MODAL_TS }}</code></pre>
				</div>

				<div class="col-12 col-lg-6 small-12 large-6 columns">
					<h6>
						<code>confirm-modal.component.html</code>
					</h6>
					<pre><code>{{ CODE_CONFIRM_MODAL_HTML }}</code></pre>
				</div>
			</div>
		</div>

		<div class="top-offset-1">
			<h4>
				Notify modals
			</h4>
			<p>
				Modals that would notify you of something important.
			</p>

			<button class="btn btn-default button hollow secondary" (click)="onNotify('info')">
				NOTIFY
			</button>

			<button class="btn btn-default button hollow secondary" (click)="onNotify('success')">
				SUCCESS!
			</button>

			<button class="btn btn-default button hollow secondary" (click)="onNotify('warning')">
				WARNING!
			</button>

			<button class="btn btn-default button hollow secondary" (click)="onNotify('danger')">
				DANGER!
			</button>
		</div>

		<div class="top-offset-1">
			<h5>
				Code
			</h5>
			<div class="row">
				<div class="col-12 col-lg-6 small-12 large-6 columns">
					<h6>
						<code>notify-modal.component.ts</code>
					</h6>
					<pre><code>{{ CODE_NOTIFY_MODAL_TS }}</code></pre>
				</div>

				<div class="col-12 col-lg-6 small-12 large-6 columns">
					<h6>
						<code>notify-modal.component.html</code>
					</h6>
					<pre><code>{{ CODE_NOTIFY_MODAL_HTML }}</code></pre>
				</div>
			</div>
		</div>

		<div class="top-offset-1">
			<h4>
				Wait modals
			</h4>
			<p>
				Modals that would force you to wait for an action to complete.
			</p>

			<button class="btn btn-default button hollow secondary" (click)="onWait(1000)">
				WAIT 1 SECOND
			</button>

			<button class="btn btn-default button hollow secondary" (click)="onWait(5000)">
				WAIT 5 SECONDS
			</button>

			<button class="btn btn-default button hollow secondary" (click)="onWait(10000)">
				WAIT 10 SECONDS
			</button>
		</div>

		<div class="top-offset-1">
			<h5>
				Code
			</h5>
			<div class="row">
				<div class="col-12 col-lg-6 small-12 large-6 columns">
					<h6>
						<code>wait-modal.component.ts</code>
					</h6>
					<pre><code>{{ CODE_WAIT_MODAL_TS }}</code></pre>
				</div>

				<div class="col-12 col-lg-6 small-12 large-6 columns">
					<h6>
						<code>wait-modal.component.html</code>
					</h6>
					<pre><code>{{ CODE_WAIT_MODAL_HTML }}</code></pre>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- required for the modals to function -->
<kx-modal-container></kx-modal-container>