.info.modal-content .modal-header {
    background-color: #d9edf7;
    color: #31708f;
}

.success.modal-content .modal-header {
    background-color: #dff0d8;
    color: #3c763d;
}

.warning.modal-content .modal-header {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.danger.modal-content .modal-header {
    background-color: #f2dede;
    color: #a94442;
}

.modal-content .modal-header {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}