.top-offset-1 {
	margin-top: 15px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

pre {
	background-color: #e6e6e6;
	border: 1px solid #cacaca;

	padding: 10px;
}

pre code {
	border: 0;
	width: 100%;
	line-height: inherit;
	background-color: none;
}

.row .columns:first-of-type {
	padding-left: 0;
}
.row .columns:last-of-type {
	padding-right: 0;
}

/* BOOTSTRAP FIXES */
.modal {
	display: block;
}

.modal .info.modal-content .modal-header {
    background-color: #d9edf7;
    color: #31708f;
}

.modal .success.modal-content .modal-header {
    background-color: #dff0d8;
    color: #3c763d;
}

.modal .warning.modal-content .modal-header {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.modal .danger.modal-content .modal-header {
    background-color: #f2dede;
    color: #a94442;
}

.modal .modal-content .modal-header {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

/* FOUNDATION 6 FIXES */
.reveal {
	display: block;
}

.reveal .button {
	margin-bottom: 0;
}
